name: ci

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: actions/checkout@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}   # fetch from dockerhub
          password: ${{ secrets.DOCKERHUB_TOKEN }}      # fetch from dockerhub
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: sneh3298/app:latest
