name: CI-UnitTesting

on:  
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.9.16
        uses: actions/setup-python@v1
        with:
          python-version: 3.9.16
      - name: Run tests
        working-directory: ./backend
        run: |
          pip install -r requirments.txt
          pytest -v test_main.py
